<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>로그인 완료!</h1>
    <div>ID: <%= user.id %></div>
    <div>이름: <%= user.name %></div>
    <div>나이: <%= user.age %></div>
</body>
</html>