<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- axios 사용 -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<body>
    <h1>수정 페이지</h1>
    <form name="updateData">
        <div>
            이름 <input name="name" value="<%= getvisitorOne.name %>"/>
        </div>
        <div>
            방명록 <input name="comment" value="<%= getvisitorOne.comment %>"/>
        </div>
        <button type="button" onclick="updateForm('<%= getvisitorOne.id %>')">수정</button>
    </form>
</body>
<script>
    const updateForm = (id) =>{
        const form = document.forms['updateData'];

        const data = {
            id: id,
            name: form['name'].value,
            comment: form['comment'].value
        };
        
        axios({
            method:'put',
            url: '/visitor/update',
            data: data,
        }).then((res) =>{
            alert('수정성공!');
        }).catch((error) => {
            console.log(error);
        });
    }
</script>
</html> 