<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>상세</h2>
    <div>ID: <%= getvisitorOne.id %></div>
    <div>이름: <%= getvisitorOne.name %></div>
    <div>방명록: <%= getvisitorOne.comment %></div>
</body>
</html>